node_modules/
dist/
dist-ssr/
*.local
.env
.env.local
.env.*.local
*.log
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage/
playwright-report/
playwright/.cache/
test-results/
.cache/
.pnp/
.pnp.js
.turbo/
.parcel-cache/
.next/
.nuxt/
.nitro/
.cache/
.output/
.vercel/
.netlify/
.expo/
.pnp/
